7/WCF/Solution1/WindowsFormsApp1/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhoneWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhone_GetPhones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhones" />
  </wsdl:message>
  <wsdl:message name="IPhone_GetPhones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhonesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhone_UpdatePhone_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhone" />
  </wsdl:message>
  <wsdl:message name="IPhone_UpdatePhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPhone_DeletePhone_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhone" />
  </wsdl:message>
  <wsdl:message name="IPhone_DeletePhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPhone_AddPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPhone" />
  </wsdl:message>
  <wsdl:message name="IPhone_AddPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPhoneResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhone">
    <wsdl:operation name="GetPhones">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhone/GetPhones" message="tns:IPhone_GetPhones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhone/GetPhonesResponse" message="tns:IPhone_GetPhones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhone/UpdatePhone" message="tns:IPhone_UpdatePhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhone/UpdatePhoneResponse" message="tns:IPhone_UpdatePhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhone/DeletePhone" message="tns:IPhone_DeletePhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhone/DeletePhoneResponse" message="tns:IPhone_DeletePhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhone/AddPhone" message="tns:IPhone_AddPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhone/AddPhoneResponse" message="tns:IPhone_AddPhone_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhone" type="tns:IPhone">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhones">
      <soap:operation soapAction="http://tempuri.org/IPhone/GetPhones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePhone">
      <soap:operation soapAction="http://tempuri.org/IPhone/UpdatePhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhone">
      <soap:operation soapAction="http://tempuri.org/IPhone/DeletePhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhone">
      <soap:operation soapAction="http://tempuri.org/IPhone/AddPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneWcf">
    <wsdl:port name="BasicHttpBinding_IPhone" binding="tns:BasicHttpBinding_IPhone">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>